body {
  font-family: Lato, sans-serif;
  background-color: #0d162b;
  color:#fff;
  padding-top: 20px;

}

.navbar {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

h1, p {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

P {
  max-width: 800px;
}
.btn {
  width:200px;
  height:50px;
  border-radius:5px;
  border:1px solid transparent;
  color: #0d162b;
  text-transform: uppercase;
  PADDING: 0 25PX;
  margin: 25px 25px;
  text-align: center;
  font-size: 24px;
  
}

.btn:hover {
  cursor:pointer; 
}
a {
  color:white;
  padding: 0 25px;
  font-size: large;
  text-decoration:none;
}


.even-col {
  display:flex; 
}
  
  
  /* flex-direction: row;
  flex-wrap: wrap;
  width: 100%; */
/* 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  padding: 0; */


.card {
  display: block;
  
  height: 100%;
  text-decoration: none;
  font-size: 22px;
}

.recipe-card img {
  height:300px;
  object-fit: cover;
  display:block;

}